<h3><%= current_user.site_name %> Administration</h3>

<div class="summary">

  <% @projects.each do |project| %>
    <div class="project">
      <div class="title"><%= project.title %></div>
      <div class="info">
        <%= link_to raw("<span class='num'>#{ project.pledges_count }</span> pledges"), 
                                                                    admin_project_pledges_path(project) %>
                        
        &nbsp;&nbsp;totaling <span class="num">$<%= number_with_delimiter( project.current_pledged_total ) %></span>
      </div>
    </div>
  <% end %>

</div>

<ul>
<li><%= link_to "manage projects", admin_projects_path %> | <%= link_to "view widget", user_projects_widget_path( current_user ) %></li>
  <ul style="margin-top: 10px;"><li>Embed widget code<br>
    <textarea style="width: 450px; height: 60px;">
<script type="text/javascript" src='<%= user_projects_widget_url( current_user ) %>.js'></script>
    </textarea>
  </li>
  </ul>
</ul>