<% if @user.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form.label :email %> (this will be both your login & the place you're notified of new pledges)<br />
<%= form.text_field :email %><br />
<br />
<%= form.label :password, form.object.new_record? ? nil : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
<br />
<%= form.label :first_name %><br />
<%= form.text_field :first_name %><br />
<br />
<%= form.label :last_name %><br />
<%= form.text_field :last_name %><br />
<br />
<%= form.label :site_name %> (what should be displayed in the browser title bar)<br />
<%= form.text_field :site_name %><br />
<br />
<%= form.label :from_email %> (when emails are sent to the pledgers, who should the emails come from?)<br />
<%= form.text_field :from_email %><br />
<br />
<%= form.label :pledge_confirmation_subject %> (subject of the confirmation emails sent to new pledgers)<br />
<%= form.text_field :pledge_confirmation_subject %><br />
<br />
<%= form.label :pledge_confirmation_body %><br />
<%= form.text_area :pledge_confirmation_body %><br />
<br />
