<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
<p>
  <b>first_name:</b>
  <%=h @user.first_name %>
</p>
<p>
  <b>last_name:</b>
  <%=h @user.last_name %>
</p>
<p>
  <b>site_name:</b>
  <%=h @user.site_name %>
</p>
<p>
  <b>notification_email:</b>
  <%=h @user.notification_email %>
</p>
<p>
  <b>from_email:</b>
  <%=h @user.from_email %>
</p>

<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>


<%= link_to 'Edit', edit_account_path %>