<%= form_for [:admin, @project] do |f| %>

  <% if @project.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %> of the project<br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %> where users should be taken when they want more info on the project (i.e. a blog post)<br />
    <%= f.text_field :url %>
  </div>
  <div class="field" style="display: none;">
    <%= f.label :pledge_done_url %><br />
    <%= f.text_field :pledge_done_url %>
  </div>
  
  <!--
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  -->
  <div class="field">
    <%= f.label :pledge_deadline_at %><br />
    <%= f.datetime_select :pledge_deadline_at %>
  </div>


  <div class="field" style="display: none;">
    <%= f.label :method %> (For a progress bar in the widget, type 'goal' here and fill out the goal amount below. Or leave this blank for no public progress bar.)<br />
    <%= f.text_field :method %>
  </div>

  <div class="field" style="display: none;">
    <%= f.label :pledge_goal_amount %><br />
    <%= f.text_field :pledge_goal_amount %>
  </div>

<!--
  <div class="field">
    <%= f.label :current_pledged_total %><br />
    <%= f.text_field :current_pledged_total %>
  </div>
-->  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
