
<p id="tester">
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Num pledges:</b>
  <%= @project.pledges_count %>
</p>

<p>
  <b>Current pledged total:</b>
  <%= @project.current_pledged_total %>
</p>

<p>
  <b>Pledge deadline at:</b>
  <%= @project.pledge_deadline_at %>
</p>

<p>
  <b>Created at:</b>
  <%= @project.created_at %>
</p>

<p>
  <b>Last updated at:</b>
  <%= @project.updated_at %>
</p>


<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', admin_projects_path %>
