<div class="widget-content">

  <% @projects.each do |project| %>

    <div class="project_container">
      <b><%= link_to project.title, project.url, :target => "_parent" %></b>

      <div class="info">
        <div class="progress_bar_container <%= 'hidden' unless project.method == :goal %>">
          <div class="bar" style="width: <%= 100 * project.perct_raised %>px"></div>
          <div class="text">$<%= project.current_pledge_total %> of $<%= project.pledge_goal_amount %></div>
        </div>
        <div class="countdown">
          <span class="has_countdown" until="<%= project.pledge_deadline_at.strftime('%Y/%m/%d %H:%M:%S') %>"></span>
          to pledge
        </div>
        <div class="stretcher"></div>
      </div> <!-- info -->

    </div>

  <% end %>
  
</div>

