<!-- http://apidock.com/rails/ActionView/Helpers/FormHelper/form_for -->

<%= form_for @pledge, :url => admin_project_pledge_path( :project_id => @project, :id => @pledge ) do |f| %>

  <% if @pledge.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>
    <ul>
    <% @pledge.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :amount_pledged %><br />
    <%= f.text_field :amount_pledged %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :subscribe_me %><br />
    <%= f.check_box :subscribe_me %>
  </div>
  <div class="field">
    <%= f.label :internal_note %><br />
    <%= f.text_field :internal_note %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
