<h1>Listing ALL pledges</h1>

<table>
  <tr>
    <th>Project</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Amount</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pledges.each do |pledge| %>
  <tr>
    <td><%= pledge.project_id %></td>
    <td><%= pledge.first_name %></td>
    <td><%= pledge.last_name %></td>
    <td><%= pledge.email %></td>
    <td><%= pledge.amount %></td>
    <td><%= pledge.note %></td>
    <td><%= link_to 'Show', admin_pledge_path(pledge) %></td>
    <td><%= link_to 'Edit', edit_admin_pledge_path(pledge) %></td>
    <td><%= link_to "Delete", admin_pledge_path(pledge.id), :method=>:delete, :confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pledge', new_admin_pledge_path %>
