<ul class="small_menu">
  <li>
  Download <%= link_to "comma delimited", 
              admin_project_pledges_path( @project.id ) + ".csv",
              :class => "" %> /
  <%= link_to "tab delimited", 
              admin_project_pledges_path( @project.id ) + ".csv?delimiter=tab",
              :class => "" %></li>
  <li><%= link_to "Send payment request to all pledges", "#", :confirm => "" %></li>
</ul>

<table class="pledges">
  <tr>
    <% @fields.each do |f| %>
      <th><%= f %></th>
    <% end %>
      <th>&nbsp;</th>
  </tr>
    <% @pledges.each do |p| %>
      <tr class="paid_">
        <% @fields.each do |f| %>

          <% if f == :email %>
            <td><%= link_to pledge_field(p, f), "mailto:#{p.attributes[ f.to_s ]}" %></td>
          <% elsif f == :created_at %>
            <td><%= pledge_field(p, f).to_s(:long) %></td>
          <% else %>
            <td><%= pledge_field(p, f) %></td>
          <% end %>

        <% end %>
        
        <td class="nowrap">
          <%= link_to 'Edit', edit_admin_project_pledge_path( :project_id => @project, :id => p) %> | 
          <%= link_to "Delete", admin_project_pledge_path( :project_id => @project, :id => p.id), :method=>:delete, :confirm=>"Are you sure?" %> |
          <% r = PaypalPaymentRequest.new( :pledge_id => p.id ) %>
          <%= link_to 'pay', r.url %>
        </td>
        
      </tr>
    <% end %>
</table>
