<div class="download_option">
  <%= link_to "download comma delimited", 
              admin_project_pledges_path( @project.id ) + ".csv" %>
</div>
<div class="download_option">
  <%= link_to "download tab delimited", 
              admin_project_pledges_path( @project.id ) + ".csv?delimiter=tab" %>
</div>

<table border="1">
  <tr>
    <% @fields.each do |f| %>
      <th><%= f %></th>
    <% end %>
  </tr>
    <% @pledges.each do |p| %>
      <tr class="paid_<%= p.paid %>">
        <% @fields.each do |f| %>

          <% if f == :actions %>
            <td class="nowrap">
              <%= link_to 'Edit', edit_admin_project_pledge_path( :project_id => @project, :id => p) %> | 
              <%= link_to "Delete", admin_project_pledge_path( :project_id => @project, :id => p.id), :method=>:delete, :confirm=>"Are you sure?" %> |
              <%= link_to 'Toggle Paid', admin_project_pledge_path( :project_id => @project, :id => p, 'pledge[paid]' => "#{! p.paid }" ), :method => :put %>
            </td>
          <% elsif f == :email %>
            <td><%= link_to p.attributes[ f.to_s ], "mailto:#{p.attributes[ f.to_s ]}" %></td>
          <% else %>
            <td><%= p.attributes[ f.to_s ] %></td>
          <% end %>

        <% end %>
      </tr>
    <% end %>
</table>
