<p class="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @pledge.project_id %>
</p>

<p>
  <b>First name:</b>
  <%= @pledge.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @pledge.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @pledge.email %>
</p>

<p>
  <b>Amount:</b>
  <%= @pledge.amount %>
</p>

<p>
  <b>Amount:</b>
  <%= @pledge.paid %>
</p>

<p>
  <b>Note:</b>
  <%= @pledge.note %>
</p>

<p>
  <b>Created at:</b>
  <%= @pledge.created_at %>
</p>

<p>
  <b>Last updated at:</b>
  <%= @pledge.updated_at %>
</p>


<%= link_to 'Edit', edit_admin_pledge_path( @pledge ) %> |
<%= link_to 'Back', admin_pledges_for_project_path( @pledge.project_id ) %>
