<h1>Listing users</h1>

<table border=1 cellpadding=4>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', admin_user_path( user ) %></td>
    <td><%= link_to 'Edit', edit_admin_user_path( user ) %></td>
    <td><%= link_to 'Destroy', admin_user_path( user ), :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Login As', admin_su_path( user ) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
