<div class="pledge_form">

  <%= form_for [ :group, @vote ] do |f| %>

    <%= hidden_field_tag :return_action, return_action_name %>

    <% if @vote.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this pledge from being saved:</h2>
        <ul>
        <p><%= raw @vote.errors.full_messages.join "<br>" %></p>
        </ul>
      </div>
    <% end %>

    <div class="info">
      <h2>Pledge for <%= @group.title %></h2>
    </div>

    <ul>

      <%= hidden_field_tag "vote[group_id]", @group.id %>
      
      <% @vote.pledges.each_with_index do |pledge, i| %>
        <%= f.fields_for :pledges, pledge do |pledge_fields| %>
      
          <%= hidden_field_tag "vote[pledges_attributes][#{i}][project_id]", @group.projects[i].id %>

          <% if i == 0  ## Only display these shared fields for the first pledge form %>

            <li>
              <%= label_tag :name, nil, :class => "field req" %>
              <span>
                <%= pledge_fields.text_field :first_name, :class => "text", :style => "width: 90px;" %>
                <%= pledge_fields.label :first_name, nil, :class => "sub" %>
              </span>
              <span>
                <%= pledge_fields.text_field :last_name, :class => "text", :style => "width: 120px;" %>
                <%= pledge_fields.label :last_name, nil, :class => "sub" %>
              </span>
              <div class="stretcher"></div>
            </li>
            <li>
              <%= pledge_fields.label :email, nil, :class => "field req" %>
              <div><%= pledge_fields.text_field :email, :class => "text" %></div>
            </li>
            <li>
              <%= pledge_fields.label :subscribe_me, nil, :class => "field" %>
              <div><%= pledge_fields.check_box :subscribe_me %> to occasional announcements about special projects</div>
            </li>

            <% # We want this last field to appear at the end, save it so we can display below %>
            <% @note_label = pledge_fields.label :note, "Your Question or Comment", :class => "field" %>
            <% @note_text_area = pledge_fields.text_area :note, :id => "note" %>
      
          <% end %>
      
          <li>
            <%= pledge_fields.label :amount, "$ Pledge for #{@group.projects[i].title}", :class => "field req" %>
            <div><%= pledge_fields.text_field :amount, :class => "text", :style => "width: 120px;" %></div>
          </li>          
      
        <% end %>          
      <% end %>
      
      <li>
        <%= @note_label %>
        <%= @note_text_area %>
          <label class="sub" for="pledge_note">
            Maximum Allowed: 200 words. Currently Used: <span id='word_count'>0</span> words
          </label>
      </li>

      <li class="actions">
        <%= f.submit %>
      </li>
    </ul>

  <% end %>

</div>