<div class="admin_link_container clearfix">
  <div style="float: right;">
    <% if session[:su_user] %>
      <b>Logged in as <%= current_user.full_name %></b><br>
      <%= link_to "Switch Back to Yourself", admin_unsu_path %>
    <% else %>
      <%= link_to "Logout", user_session_path, :method => :delete %>
    <% end %>
  </div>

  <div class="admin_link">
    <%= link_to "Home", admin_path %>
  </div>
  <div class="admin_link">
    <%= link_to "Setup", admin_setup_path %>
  </div>
  <div class="admin_link">
    <%= link_to "Edit Settings", edit_account_path %>
  </div>
  <div class="admin_link">
    <%= link_to "Super-Admin Controls", admin_users_path %>
  </div>
  
</div>
