<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Pledge Project' %></title>
  <%= stylesheet_link_tag :all, :cache => false %>
  <%= csrf_meta_tag %>
</head>
<body class=" <%= controller.controller_name %> 
              <%= controller.controller_name %>_<%= action_name_safe %> 
              <%= controller.controller_name %>_return_<%= params[:return_action] %>">
  
  <div class="body_interior">
    
    <%= flash[:notice] %>
    <%= render :partial => 'layouts/admin_nav'  if @show_admin_nav %>
          
    <%= yield %>
  </div>

  <%= javascript_include_tag 'jquery-1.4.2', 'jquery.countdown', 'pledges', 'rails', 'groups', 'projects' %>
</body>
</html>
