<!DOCTYPE html>
<html>
<head>
  <title>Pledgeproject</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body class="<%= @body_backg %> <%= controller.controller_name %> <%= controller.controller_name %>_<%= action_name_safe %>">
  
  <div class="body_interior">
    <%= link_to "Back to admin", "/admin"  if @show_admin_nav %>
      
    <%= yield %>
  </div>


  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.countdown', 'pledges' %>
</body>
</html>
