<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'NoodleFood' %></title>
  <%= stylesheet_link_tag :all, :cache => false %>
  <%= csrf_meta_tag %>
</head>
<body class=" <%= controller.controller_name %> 
              <%= controller.controller_name %>_<%= action_name_safe %> 
              <%= controller.controller_name %>_return_<%= params[:return_action] %>">
  
  <div class="body_interior">
    <% if @show_admin_nav %>
      <div class="back_link"><%= link_to "Back to admin", "/admin" %></div>
    <% end %>
      
    <%= yield %>
  </div>

  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.countdown', 'pledges', 'rails' %>
</body>
</html>
